
.icon-bar {
    position: fixed;
    top: 60%;
    right: -2%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 10%;
    z-index: 10000;
  }
  .formmod{
    position: fixed;
    top: 43%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 30px;
    transition: all 0.3s ease;
    background-color: rgb(220, 220, 220);
    font-size: 20px;
    border-radius: 80% 0% 0% 80%;

  }
  
  .icon-bar a:hover {
    background-color: rgb(201, 201, 201);
  }

  