*{
    font-family: "poppinslight";
}
.nav-shadow{
    box-shadow: 0px 0px 8px 2px #0000006d;
}

.close{
    background-color: black;
}
*:focus{
    outline: none;
}

.video{
    background-color: white;
    position: absolute;
    right:0;
    margin-top: 3%;
    color: black;
}

.pop{
    font-family: "Poppinslight";
    font-weight: 600;
}

.rub{
    font-family: "Rubik";
}

@media only screen and (max-width: 767px){
    .img-girl{
        display: none;
    }
    .footer{
        padding-left: 0;
    }

    .icon-bar {
        position: fixed;
        top:92%;
        bottom: 0;
        right:2%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 100%;
        z-index: 10000;
        box-shadow: 0px 0px 2px 2px #0000006d;
        border-radius: 100px;
      }

      .icon-bar a {
        display: block;
        bottom: 0;
        padding: 20px;
        transition: all 0.3s ease;
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        border-radius: 100px;
    
      }
}

@media only screen and (max-width:993px){
    .img-girl{
        height: 40%;
        width: 50%;
    }

    .video{
        position: relative;
        margin-top: 5px;
        color: black;
    }

}

@media only screen and (min-width:993px) and (max-width:1100px){
    .video{
        position: absolute;
    }
}

@media only screen and (min-width:1100px){
    .video{
        position: absolute;
        margin-top: 5px;
    }
}

a{
    color: white;
    border: none;
    outline-color: white;
    outline: none;
}

a:active{
    color: white;
    border: none;
    outline-color: white;
    outline: none;
}